<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="library.css">
    <link rel="icon" href="7wonders.jpg">
    <link rel="stylesheet" media="screen and (max-width: 280px)" href="libraryphone.css">
    <title>Library</title>
</head>


<body>
    <h1 >This Is Library </h1>
    <h2>All The Life Changing Books In This One Website.</h2>
    <div>
        <table>
            <tr>
                <th><img src="saheb.jpg" alt="books"></th>
                <td><a href="https://en.wikipedia.org/wiki/Constitution_of_India" class="anchore-0">All About Constitution of India</a></td>
            </tr>
            <tr>
                <th><img src="geeta.jpg" alt="books"></th>
                <td><a href="https://en.wikipedia.org/wiki/Bhagavad_Gita" class="anchore-1">All About Bhagavad Gita</a></td>
            </tr>
            <tr>
                <th><img src="ikagai.jpg" alt="books"></th>
                <td><a href="https://en.wikipedia.org/wiki/Ikigai" class="anchore-2">All About ikagai</a></td>
            </tr>
            <tr>
                <th><img src="richdadpoordad.jpg" alt="books"></th>
                <td><a href="https://en.wikipedia.org/wiki/Rich_Dad_Poor_Dad" class="anchore-3">All About Rich dad poor dad</a></td>
            </tr> 
            <tr>
                <th><img src="attitude.jpg" alt="books"></th>
                <td><a href="https://www.getstoryshots.com/books/attitude-is-everything-summary/" class="anchore-4">All About Attitude Is Everything</a></td>
            </tr>
        </table>
    </div>
</body>

</html>